[submodule "contrib/jwt-cpp"]
	path = contrib/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "contrib/bitcoin-secp256k1"]
	path = contrib/bitcoin-secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "contrib/tor-connect"]
	path = contrib/tor-connect
	url = https://github.com/hyle-team/tor-connect.git
[submodule "docs"]
	path = docs
	url = https://github.com/letheanVPN/documentation.git
