[submodule "contrib/miniupnp"]
	path = contrib/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "contrib/tor-connect"]
	path = contrib/tor-connect
	url = https://github.com/letheanVPN/tor-connect.git
	branch = main
