name: Clear all Github actions caches on sundays
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - dev
      - main
    paths-ignore:
      - '**.md'

jobs:
  my-job:
    name: Delete all caches
    runs-on: ubuntu-24.04
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Clear caches
        run: gh cache delete --all --repo ${{ github.repository }}